---

import Contenuto from "../layouts/Contenuto.astro";
import credits from '../assets/data/credits.json';
import Heading from "../components/Heading.astro";

import {Image} from "astro:assets";

import logoDesktop from "../assets/logos/interdependence-white-long.svg";
import logoMobile from "../assets/logos/interdependence-white-short.svg";


import logoDesignWeek from '../assets/logos/logo-design-week.svg';
import logoPolimi from '../assets/logos/Polimi.svg';
import logoPolimiDesign from '../assets/logos/logo_poli_uniti.svg'
import logoPoliDesign from '../assets/logos/Poli.design.svg';
import logoMottola from '../assets/logos/mottola-black.svg';
import logoZetafonts from '../assets/logos/zetafonts-black.svg';
import logoNavigare from '../assets/logos/navigare.svg';
import logoComune from '../assets/logos/logo-comune-milano.svg';
import logoCampoTeatrale from '../assets/logos/campoteatrale.svg';

---


<Contenuto name="Credits">
  <Heading title="" background={true} backgroundMobile={true}></Heading>
  <div class="logo-container desktop">
    <Image src={logoDesktop} alt="interdependence - exploring opposites" id="logo-interdependence"></Image>
  </div>
  <div class="logo-container mobile">
    <Image src={logoMobile} alt="interdependence - exploring opposites" id="logo-interdependence"></Image>
  </div>
  <main class="credits-page">
    <div class="credits-grid">
      <div class="credits-column">
        {credits.slice(0, Math.ceil(credits.length/4)).map((section) => (
          <div class="credits-section">
            <p class="section-title">{section.section}</p>
            <div class="people-list">
              {section.people.map((person) => (
                <p class="person">{person}</p>
              ))}
            </div>
          </div>
        ))}
      </div>
      <div class="credits-column">
        {credits.slice(Math.ceil(credits.length/4), Math.ceil(credits.length/4)*2).map((section) => (
          <div class="credits-section">
            <p class="section-title">{section.section}</p>
            <div class="people-list">
              {section.people.map((person) => (
                <p class="person">{person}</p>
              ))}
            </div>
          </div>
        ))}
      </div>
      <div class="credits-column">
        {credits.slice(Math.ceil(credits.length/4)*2, Math.ceil(credits.length/4)*3).map((section) => (
          <div class="credits-section">
            <p class="section-title">{section.section}</p>
            <div class="people-list">
              {section.people.map((person) => (
                <p class="person">{person}</p>
              ))}
            </div>
          </div>
        ))}
      </div>
      <div class="credits-column">
        {credits.slice(Math.ceil(credits.length/4)*3).map((section) => (
          <div class="credits-section">
            <p class="section-title">{section.section}</p>
            <div class="people-list">
              {section.people.map((person) => (
                <p class="person">{person}</p>
              ))}
            </div>
          </div>
        ))}
      </div>
    </div>

<!-- LOGOS -->
<div class="logo-container-bottom" >
  <!-- <div class="logo-left">
    <Image src={logoPolimi} alt="Logo del Politecnico di Milano" id="logo-polimi"  />
    <Image src={logoPoliDesign} alt="Logo di Poli.design" id="logo-polidesign" />
  </div>
  <div class="logo-right">
    <Image src={logoDesignWeek} alt="Logo Milano Design Week" id="logo-mdw"/>
  </div> -->
  

          <div class="logos-partners-row" id="loghi-partner-row-1">
            <div class="loghi-partner-main">

              <h4>From an idea by</h4> 

   
                <div class="loghi-partner" id="loghi-support">
                  <div>
                    <Image src={logoPolimiDesign} alt="Politecnico di Milano">
                  </div>
                  <div id="polidesign">
                    <Image src={logoPoliDesign} alt="PoliDesign">
                  </div>
                </div>
            </div>

         
            

             <div class="loghi-partner-main">

  
     
                  <div class="loghi-partner" id="loghi-support">
                    <div >
                      <Image src={logoDesignWeek} alt="DesignWeek" id="logoDesignWeek">
                    </div>
                  </div>
              </div>
             
             
          </div>
          <div class="logos-partners-row">


            <div class="loghi-partner-main">
              <h4>Technical partners</h4> 
   
               <div class="loghi-partner">
                <div >
                  <Image src={logoMottola} alt="Mottola" id="logoMottola">
                </div>
                <div id="zetafonts">
                  <Image src={logoZetafonts} alt="Zetafonts">
                </div>
                <div >
                 <Image src={logoNavigare} alt="Navigare" id="logoNavigare">
               </div>
             </div>
             
          </div>
          <div class="loghi-partner-main">
            <h4>With the patronage of</h4> 
             <div class="loghi-partner" id="loghi-comune-mdw">
              <div >
               

                <Image src={logoComune} alt="Comune di Milano" id="logoComune">
              </div>
          
            </div>
           </div>
        
            <div class="loghi-partner-main">

            <h4>With the support of</h4> 

   
                <div class="loghi-partner" id="loghi-support">
           
                  <div >
                    <Image src={logoCampoTeatrale} alt="Campo Teatrale" id="logoCampoteatrale">
                  </div>
                
                </div>
            </div>

         
          
         
       
        
        </div>

</div>
</div>


  </main>
</Contenuto>







<style>

.logo-container {
            display: flex;
            &.desktop {
              mix-blend-mode: difference;

            }

            &.mobile {
            display: none;
        }

        img {
            width: 100%;

            mix-blend-mode: difference;
            align-self: left;
        }
        }
     
       

    .logo-container-bottom {
      mix-blend-mode: normal;

      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      img {
        max-width: 200px;
        /* max-height: 80px; */

      }

  
    }

  .credits-page {
    margin-top: 4rem;
    /* padding: clamp(2rem, 5vw, 5rem); */
    /* background-color: var(--bg-color); */
  }

  .credits-grid {
    display: flex;
    flex-direction: row;
    gap: clamp(2rem, 4vw, 4rem);
    max-width: 1400px;
    margin: 0 auto;
  }

  .credits-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  .credits-section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .section-title {
    font-family: 'Milligram';
    font-weight: bold;
    font-size: 1em;
    color: var(--text-color);
    margin: 0;
  }

  .people-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .person {
    font-family: 'Milligram Text';
    font-size: 1em;
    color: var(--text-color);
    margin: 0;
  }
  #logo-polimi {
    filter: invert(1);
  }




  .logo-container-bottom {
          display: flex;
          justify-content: space-between;
          position: relative;
          flex-direction: row;
          top: 0;
          left: 0;
          width: 100%;
          margin-top: clamp(3rem, 6vw, 6rem);
        }
        
        .logo-left {
          display: flex;
          align-items: center;
          gap: clamp(1rem, 2vw, 2rem);
          width: 60%;
        }

        .logos-partners-row {
          display: flex;
          width: 100%;
          justify-content: space-between;
          /* margin-bottom: 3em; */
          /* max-height: 300px; */
          &#loghi-partner-row-1 {
            justify-content: space-between;
          }
        }

        #loghi-poli {
          display: flex;
          width: 100%;
          flex-direction: row;
          align-items: start;
          justify-content: center;
          gap: 7em;
        
          img {
            height: 10vh;
          }
          #polidesign img {
            height: 7vh;
            filter: invert(1)
          }
        }
     
        
        .logo-right {
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
        
        /* Shared styles for all logos */
        .logo-left img,
        .logo-right img {
          height: clamp(3rem, 4vw, 8rem); /* Responsive height using clamp */
          width: auto; /* Width will adjust based on aspect ratio */
          object-fit: contain;
          max-width: 100%; /* Prevent overflow */
        }
        .logos-partners-row {
          flex-wrap: wrap;
        }

        .loghi-partner-main {
          flex-direction: column;
          margin-top: 2em;
         h4 {
          text-align: left;
          width: 100%q;
         } 

        }

      

        .loghi-partner {
          transform: translateY(-1em);
          display: flex;
          gap: 2em;
          align-items: center;
          justify-content: end;
          flex-wrap: wrap;
          
          &#loghi-support img {
            max-height: 150px;
            max-width: 150px ;
            
            &#logoCampoteatrale{
              max-height: 150px;
            };
            
            &#logoFdV{
              max-height: 70px;
            }

            &#logoDesignWeek {
            max-height: 80px;
            width: auto;
            transform: translateY(1EM);
            }

          }
         
          div img {
            max-width: 150px;
      
            &#logoComune {
            max-height: 150px;
            width: auto;
            }

            &#logoMottola {
              max-width: 220px;
            }

            &#logoNavigare {
              max-height: 50px;
            }
        
          }
       
        }

        #loghi-comune-mdw {
          justify-content: space-between;
          
        }
        
        #zetafont {
            
            filter: invert(1);
          
        }

  @media (max-width: 768px) {
    .credits-page {
      margin-top: 1rem;
    }

    .credits-grid {
      flex-direction: column;
      gap: 1em;
    }

    .logo-container {
          padding: 0 !important;

          &.desktop {
              display: none;

            }

            &.mobile {
            margin-left: auto;
            margin-right: auto;
            display: block;
            filter: invert(1);
            max-width: 200px;
            width: 100%;
            margin-bottom: 3em;
            img {
              height: auto;
            }
        }
  }


  .logo-container-bottom {
  margin-top: 4rem;
  flex-direction: column;
}
#loghi-poli {
  align-items: center;
}
.loghi-partner-main {
  width: 100%;
}

.loghi-partner {
  row-gap: 0;
justify-content: space-evenly;
}

.loghi-partner-main h4 {
  text-align: center;
}

#loghi-comune-mdw {
          justify-content: center;
          
        }
        
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {

    .logo-container-bottom {
      flex-direction: column;
    }
    .loghi-partner {

      align-items: left;
      justify-content: start;
    }

    .loghi-partner-main h4 {
        text-align: left;
      }
}



</style>