---
import Layout from '../layouts/Layout.astro'
import PaginaLuogo from '../layouts/PaginaLuogo.astro'
import ButtonSmall from '../components/ButtonSmall.astro'

const info = {
    index: 3, // Valore da usare per settare l'header
    name: "Fabbrica del Vapore",
    opening: "Tuesday, 16 April 2024, 18.30",
    location: "Fabbrica del Vapore, Spazio Messina, via G. C. Procaccini 4, Milan",
    dates: "From 16 to 21 April 2024 (Tue-Sat, 11.00-22.00; Sun, 11.00-17.00)",
    description: "An international exhibition mixing and matching the projects of Politecnico di Milano (Design, Architecture, and Engineering) students with those of 50 international design schools from all over the world. The exhibition is animated by a palimpsest of talks and events, including the extemporaneous performance of Campo Teatrale. Conceived and directed by Simon Waldvogel and inspired by his work “WDWGFH - Where Do We Go From Here?”, the performance aims to create a fragmented and interconnected experience where the different performing languages and the surrounding space blend synergetically.",
    backgroundImg: "src/assets/img/fabbricadelvapore.jpg"
}

---

<PaginaLuogo index = {info.index} name = {info.name} opening = {info.opening} location = {info.location} dates = {info.dates} description = {info.description} backgroundImg = {info.backgroundImg}>
    <div class="buttons">
        <ButtonSmall label="CATALOGUE" href="/fabbricadelvapore/catalogue"></ButtonSmall>
        <ButtonSmall label="PROGRAM" href="/fabbricadelvapore/program"></ButtonSmall>    
    </div>
</PaginaLuogo>


<style>
    .buttons {
        padding-top: 50px;
    }
</style>
