---

import Contenuto from "../../layouts/Contenuto.astro";
import Heading from "../../components/Heading.astro";

import { Image } from 'astro:assets';
import arrow from '/src/assets/icons/arrow-right-black.svg';

import { getCollection } from "astro:content";
import categoriesData from "../../assets/data/categories.json";

const projects = await getCollection("projects");
const categoriesMap = new Map(categoriesData.map(category => [category.id, category]));
const categories = [...new Set(projects.map(project => project.data.category))];

---

<Contenuto name="Catalogue">
    <Heading title="Catalogue" subtitle="Fabbrica del Vapore" background={true}>
    </Heading>
    <div class="text-container">
        <p>
            At the Fabbrica del Vapore, INTERDEPENDENCE takes the shape of an international exhibition mixing and matching the projects of the students of Politecnico di Milano (Design, Architecture, and Engineering) with those of students from almost 50 design universities from all over the world.The exhibition collects 150 projects and is animated by a palimpsest of initiatives.
        </p>
    </div>

     
        
        <!-- <ul>
            {categories.map((category) => (
            <li>
                <a href={`/catalogue/${category}/`}>{category}</a>
            </li>
            ))}
        </ul> -->

        

    <div class="categories-container">
        {categories.map(categoryId => {
            const category = categoriesMap.get(categoryId);
            return (
                <div class="category-container">
                    
                    <span>
                        {category.opposite1} /
                    </span>
                    <span class="opposite2">
                        &#160;{category.opposite2}
                        <Image src={arrow} alt = "Freccia a destra"/>

                    </span>

                </div>
            )
        })}
    </div>
    </div>

</Contenuto>

<style>
    .text-container {
        max-width: 1200px;
    }
    .categories-container {
        margin-top: 20px;
        margin-bottom: 20px;

    }
    
    .category-container {
        display: flex;
        margin-bottom: 20px;
        color: gray;
    }

    .opposite2 {
        text-align: right;
        white-space: nowrap;

        flex: 0;
        transition: all 0.3s ease;

    }

    .category-container:hover .opposite2 {
        flex: 1;
        transition: all 0.3s ease;
    }

    .category-container:hover {
        color: black;
    }

    .category-container span {
        font-size: 2.2em;
    }
</style>