---
import Contenuto from "../../layouts/Contenuto.astro";
import Heading from "../../components/Heading.astro";

import programData from "../../assets/data/program.json";

---

<Contenuto name="Program">
    <Heading title="Program" subtitle="Fabbrica del Vapore" background={false}></Heading>
    <div class="program-container">
        <div class="col-3 days">
            <Heading title="Program" subtitle="Fabbrica del Vapore" background={true}></Heading>
            <div class="day-selector">
                {programData.map((dayData, index) => (
                    <div class="day" id={`day-${dayData.index}`}>
                        <h3>{dayData.day}</h3>
                    </div>
                ))}
            </div>
        </div>
        <div class="col-9 events">
            {programData.map((dayData) => (
                <div class="events-day" id={`events-day-${dayData.index}`}>
                    <h2>{dayData.weekday}, {dayData.day} <hr /></h2>
                   
                    {dayData.events.map((event) => (
                        <div class="event" key={event.time}>
                            <div class="event-date">
                                <span class="time">{event.time}</span>
                            </div>
                            <div class="event-title">
                                <h2>{event.title}</h2>
                            </div>
                            {event.name && (
                                <div class="event-name">
                                    {event.name}
                                </div>
                            )}
                            {event.description && (
                                <div class="event-description">
                                    <p>{event.description}</p>
                                </div>
                            )}
                        </div>
                    ))}
                </div>
            ))}
        </div>
    </div>
</Contenuto>

<style>
    .program-container {
        display: flex;
    }
    .days {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    .day {
        transition: all 0.3s ease;
        align-items: center;
        position: sticky;
    }
    .day h3 {
        color: black;
        opacity: 0.3;
        transition: opacity 0.3s;
    }
    .day-selector {
        position: fixed;
        top: 12vh;
    }
    .active-day:not(.disable),
    .selected-day:not(.disable) {
        padding-bottom: 3em;

        &:not(#day-1) {
            padding-top: 3em;

        }
        padding-bottom: 3em;
        h3 {
            opacity: 1;

        }
    }
 
    .events {
        margin-top: 12vh;
    }
    .events-day>h2 {
        font-weight: normal;
        margin-bottom: 0.2em;
    }
    .event {
        margin-bottom: 6em;
    }
    .event-date,
    .event-name {
        font-size: 1.3em;
        font-weight: bold;
        margin-right: 1em;
    }
    .time {
        font-weight: normal;
    }
    .event-title h2 {
        margin-bottom: 0;
        padding-bottom: 0.3em;
    }
    .event-description {
        padding-top: 2em;
    }
</style>

<script>
    document.querySelectorAll('.day').forEach(day => {
        day.addEventListener('mouseover', () => {
            document.querySelectorAll('.day').forEach(d => {
                d.classList.remove('active-day');
                d.classList.add('disable');
            });
            day.classList.add('active-day');
            day.classList.remove('disable');
        });

        day.addEventListener('mouseout', () => {
            document.querySelectorAll('.day').forEach(d => {
                d.classList.remove('disable');
                d.classList.remove('active-day');

            });
        });
    });
</script>

<script>
import { gsap } from "gsap";

import { ScrollToPlugin } from "gsap/ScrollToPlugin";
import { ScrollTrigger } from "gsap/ScrollTrigger";
import Footer from "../../components/Footer.astro";


gsap.registerPlugin(ScrollToPlugin, ScrollTrigger)


document.querySelectorAll('.day').forEach(day => {
    day.addEventListener('click', () => {
        const dayId = day.id;
        const eventId = `#events-${dayId}`;
        console.log(eventId);
            gsap.to(window, { 
                duration: 0.5, 
                scrollTo: { 
                    y: eventId, 
                    autoKill: false 
                } 
            });

    });
});


// Create ScrollTrigger for each events-day
document.querySelectorAll('.events-day').forEach((eventsDay) => {
    gsap.to('.day', {
        scrollTrigger: {
            trigger: eventsDay,
            start: 'top 10%',
            end: 'bottom 10%',
            onEnter: () => {
                const dayId = eventsDay.id.replace('events-day-', '');
                document.querySelectorAll('.day').forEach(d => d.classList.remove('selected-day'));
                const dayElement = document.querySelector(`#day-${dayId}`);
                if (dayElement) {
                    dayElement.classList.add('selected-day');
                }
            },
            onEnterBack: () => {
                const dayId = eventsDay.id.replace('events-day-', '');
                document.querySelectorAll('.day').forEach(d => d.classList.remove('selected-day'));
                const dayElement = document.querySelector(`#day-${dayId}`);
                if (dayElement) {
                    dayElement.classList.add('selected-day');
                }
            }
        }
    });
});
</script>
